h1 {
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
    text-align: center;
    margin: 0 300px 10px 470px;
    width: 30%;
    padding: 10px;
}

body {
    background-color: #020305;
    width: 100%;
    height: 700px;
    background-image: url('../images/blueandpurplecrystalball.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


p {
    color: rgb(17, 9, 0);
    font-size: 16pt;
    padding: 10px;
}

.text-container {
    margin: 100px 300px 10px 500px;
    width: 30%;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}

@media screen and (max-width: 980px) {
    h1 {
        font-size: 40pt;
        padding: 10px;
        margin: 0 120px 10px 310px;
    }

    .text-container {
        margin: 80px 200px 10px 340px;
        padding: 10px;
    }

    p {
        font-size: 16pt;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 35pt;
        padding: 10px;
        margin: 0 100px 10px 250px;
    }

    .text-container {
        margin: 100px 100px 10px 260px;
        padding: 10px;

    }

    p {
        font-size: 16pt;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-position: center 25%;
    }

    h1 {
        font-size: 30pt;
        margin: 0 100px 10px 200px;
        padding: 10px;
    }

    .text-container {
        margin: 80px 100px 10px 210px; 
        padding: 10px;
    }

    p {
        font-size: 14pt;
    }
}